[submodule "control"]
	path = bev_uav_control
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/control.git
    branch = master
[submodule "interface"]
	path = bev_uav_interface
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/interface.git
    branch = master
[submodule "sensing"]
	path = bev_uav_sensing
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/sensing.git
    branch = master
[submodule "perception"]
	path = bev_uav_perception
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/perception.git
    branch = master
[submodule "autonomous-operation"]
	path = bev_uav_autonomous_operation
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/autonomous-operation.git
    branch = master
[submodule "utils"]
	path = bev_uav_utils
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/utils.git
    branch = master
[submodule "actuators"]
	path = bev_uav_actuators
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/actuators.git
    branch = master
[submodule "bev_uav_utils"]
	path = bev_uav_utils
	url = git@gitlab.pdmfc.com:drones/ros1/heifu-uav/utils.git
